@page "/Contact"

<h3>Contact</h3>

<NavLink class="nav-link" href="CreateContact">
    <span class="oi oi-list-rich" aria-hidden="true"></span> Add Contact
</NavLink>

@*<ul>
    @foreach (var ContactObj in Contact)
    {
    <li>@ContactObj.firstName </li>
    }
</ul>*@

@code {

    public List<Contact> Contacts = new List<Contact>();


@*Attempted to fix the list creation below and failed, I believe issues are here*@
    private IList<Contact> contacts = new List<Contact>();
}