@page "/Contact"

<h3>Contact</h3>

@*<ul>
    @foreach (var ContactObj in Contact)
    {
    <li>@ContactObj.FirstName </li>
    }
</ul>*@


<input placeholder="Some contact info" />
<button>Add contact!</button>



@code {


@*Attempted to fix the list creation below and failed, I believe issues are here*@
private IList<Contact> contacts = new List<Contact>();

}